<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide='false'>
                <img src="../../assets/menu_bar.svg"/>
            </ion-menu-button>
        </ion-buttons>
        <ion-title style="color: green;">Beneficiaries</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-card class="ion-padding">
        <ion-button style="margin-top: 20px" color="success" routerLink="/active">
            <ion-label>Active Beneficiaries</ion-label>
        </ion-button>

        <ion-button color="success" routerLink="/add-family">
            <ion-label>Add Family Beneficiary</ion-label>
        </ion-button>

        <ion-button color="success" routerLink="/add-group">
            <ion-label>Add Group Beneficiary</ion-label>
        </ion-button>

        <ion-button color="success" routerLink="/add-single">
            <ion-label>Add Single Beneficiary</ion-label>
        </ion-button>

        <ion-button color="success" routerLink="/add-pending">
            <ion-label>Pending Beneficiaries</ion-label>
        </ion-button>

        <ion-button color="success" routerLink="/add-total">
            <ion-label>Total Beneficiaries</ion-label>
        </ion-button>

        <ion-button color="success" routerLink="/family-list">
            <ion-label>Family List</ion-label>
        </ion-button>

        <ion-button style="margin-bottom: 20px" color="success" routerLink="/group-list">
            <ion-label>Group List</ion-label>
        </ion-button>
    </ion-card>


</ion-content>
