<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
                <img src="../../assets/menu_bar.svg"/>
            </ion-menu-button>
        </ion-buttons>
        <ion-title>Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="ben">Total Beneficiaries</div>
                <div class="num">50,000</div>
            </div>
            <div class="col">
                <ion-icon name="people" size='large' color="success"></ion-icon>
            </div>
        </div>
    </ion-card>

    <ion-card class="">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="ben">Active Beneficiaries</div>
                <div class="num">50,000</div>
            </div>
            <div class="col">
                <ion-icon name="people" size='large' color="success"></ion-icon>
            </div>
        </div>
    </ion-card>

    <ion-card class="">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="ben">Pending Beneficiaries</div>
                <div class="num">50,000</div>
            </div>
            <div class="col">
                <ion-icon name="people" size='large' color="success"></ion-icon>
            </div>
        </div>
    </ion-card>

    <ion-card class="">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="ben">Total Earnings</div>
                <div class="num">N50,000</div>
            </div>
            <div class="col">
                <ion-icon name="wallet" size='large' color="success"></ion-icon>
            </div>
        </div>
    </ion-card>

    <ion-card class="">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="ben">Total Group Beneficiaries</div>
                <div class="num">50,000</div>
            </div>
            <div class="col">
                <ion-icon name="people" size='large' color="success"></ion-icon>
            </div>
        </div>
    </ion-card>

    <ion-card class="">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="ben">Total Family Beneficiaries</div>
                <div class="num">50,000</div>
            </div>
            <div class="col">
                <ion-icon name="people" size='large' color="success"></ion-icon>
            </div>
        </div>
    </ion-card>

</ion-content>
      

    
            