ion-card {
  margin-top: 35px;
  box-shadow: -2px 1px 13px 7px rgba(0, 0, 0, 0.21);
}

ion-card-title {
  font-weight: bold;
  border-radius: 2px;
  color: #42D77D;
  text-align: center;
}

ion-card-content {
  font-size: 16px;
}

.search {
  ion-item {
    border-radius: 10px;
    box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.09);
    padding: 8px;
    border: #005d00;

    ion-icon {
      margin-right: 16px;
    }

    ion-input {
      padding-left: 10px !important;
      border-left: 1px solid #F4F4F4;
    }
  }
}
ion-title{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}