<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="success"></ion-back-button>
        </ion-buttons>
        <ion-title color="success">
            <strong> Total Beneficiaries</strong>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Pending
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Active
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Pending
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Active
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Pending
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Active
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Pending
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Active
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Pending
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Active
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Pending
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Active
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Pending
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Active
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Pending
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Active
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Pending
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Active
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Pending
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Active
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Pending
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>

        <div class="search ion-padding">
            <ion-item lines="none">
                <ion-input placeholder="Search Active Beneficiary"></ion-input>
                <ion-icon name="search-outline" slot="start"></ion-icon>
            </ion-item>
        </div>

        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Status: Active
            <br>
        </ion-card-content>
    </ion-card>
</ion-content>
