<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="success"></ion-back-button>
        </ion-buttons>
        <ion-title color="success">
            <strong>Pending Beneficiaries</strong>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card class="ion-padding">
        <ion-button style="margin-top: 20px" color="success" routerLink="./single">
            <ion-label>Single</ion-label>
        </ion-button>

        <ion-button color="success" routerLink="./family">
            <ion-label>Family</ion-label>
        </ion-button>

        <ion-button color="success" routerLink="./group">
            <ion-label>Group</ion-label>
        </ion-button>

    </ion-card>
</ion-content>
