<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="success"></ion-back-button>
        </ion-buttons>
        <ion-title color="success">
            <strong>Group List</strong>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>

    <ion-card>

        <div class="search ion-padding">
            <ion-item lines="none">
                <ion-input placeholder="Search Active Beneficiary"></ion-input>
                <ion-icon name="search-outline" slot="start"></ion-icon>
            </ion-item>
        </div>

        <ion-card-header color="success">
            <ion-card-title>
                Sponsor NAME: IGWE Chibuike Chukwuma Nnaman
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Total Group Beneficiaries: 20
            <br>
            Sponsor Phone Number: 08053462871
            <br>
            Sponsor Email Address: igwe@igwe.com
            <br>
            View Group List....
            <br>
        </ion-card-content>
    </ion-card>
</ion-content>
