<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="success">
                <img src="../../assets/back-dark.svg" />
            </ion-back-button>
        </ion-buttons>
        <ion-title color="success">
            <strong>Active Beneficiaries</strong>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="search ion-padding">
        <ion-item lines="none" >
            <ion-input placeholder="Search Active Beneficiary"></ion-input>
            <ion-icon name="search-outline" slot="start"></ion-icon>
        </ion-item>
    </div>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="success">
            <ion-card-title>
                NAME: Akwu Chinenye Faith
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Beneficiary ID: ENU-01-fh-fh-43-34-221
            <br>
            Email Address: akwu@akwu.com
            <br>
            Phone Number: 09076518726, 09083671652
            <br>
            Activation Date: 09-02-2021
            <br>
            Expiry Date: 09-02-2022
        </ion-card-content>
    </ion-card>
</ion-content>
